.services {
  align-items: center;
  justify-content: space-between;
}
#ProgrammerImgDiv {
  position: relative;
  text-align: center;
}
#ProgrammerImg {
  width: 100%;
}
.services h1 {
  position: absolute;
  top: 206px;
  left: 550px;
  color: #fff;
  font-size: 4rem;
}
.services h1::after {
  content: "";
  position: absolute;
  display: flex;
  height: 2px;
  width: 230px;
  background: white;
}
#ServicesTab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#ServiceCard {
  margin: 50px;
  width: 200px;
}
#ServiceCard div {
  pointer-events: none;
}
