.services {
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
#ProgrammerImgDiv {
  position: relative;
  text-align: center;
}
#ProgrammerImg {
  width: 100%;
}
.services h1 {
  /* position: relative; */
}
#ProgrammerImgDiv::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 90px;
  background: #c33030;
}

#ServicesTab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#ServiceCard {
  margin: 50px;
  margin-bottom: 30px;
  width: 200px;
  scale: 0.8;
  opacity: 0.6;
  animation: ease-in fade-in forwards;
  animation-timeline: view();
  animation-range: 100px 500px;
}

@keyframes fade-in {
  to {
    opacity: 1;
    scale: 1;
    margin-bottom: 50px;
  }
}

#ServiceCard div {
  pointer-events: none;
}
@media (max-width: 420px) {
  #ServiceCard h4 {
    font-size: 22px;
  }
  #ServiceCard p {
    font-size: 16px;
  }
  #ServiceCard {
    width: 80vw;
    margin: 50px 0;
  }
}

@media (max-width: 768px) {
  #ServiceCard {
    margin: 50px 25px;
  }
}
