#Contact {
  /* height: 100vh; */
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactLeft {
  width: 25vw;
}
.contactHeading {
  margin: 10px 0;
}

.contactMail {
  width: 18vw;
  display: flex;

  margin: 20px 0;
}

#Email {
  color: #c33030;
  font-size: 14px;
  font-weight: 900;
}

/* @keyframes left_rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-90deg);
  }
} */

.contactRight {
  width: 25vw;
  border: solid 2px #e9e9e9;
  box-shadow: 5px 5px 5px beige;
  padding: 20px;
  border-radius: 20px;
  /* display: none; */
}
/* .contactRightFlip {
  width: 25vw;
  z-index: 0;
  height: 71vh;
  border: solid 2px #e9e9e9;
  box-shadow: 5px 5px 5px beige;
  padding: 20px;
  background: #c33030;
  border-radius: 20px;
} */
.contactFlip {
  /* position: relative; */
}

.contactRight form {
  display: flex;
  flex-direction: column;
}
.contactRight form p {
  font-size: 11px;
  font-weight: 900;
}
.contactRight form input {
  background-color: rgb(244, 240, 240);
  height: 30px;
  margin: 5px 0;
  border: none;
  border-radius: 3px;
  padding: 0 12px;
}
/* .contactRight form input:checked {
  border: solid 2px #c33030;
} */
#MoreProjectDetails {
  margin: 5px 0;
  border: none;
  padding: 10px 12px;
  height: 100px;
  resize: none;
  background-color: rgb(244, 240, 240);
  font-size: small;
}
#SendMessageBtn {
  background-color: #c33030;
  margin: 10px 0;
  color: white;
  font-size: 12px;
  width: 130px;
  box-shadow: 0px 7px 7px #e9e9e9;
}
#SendMessageBtn:active {
  transform: translateY(1px);
}

@media (max-width: 768px) {
  #Contact {
    flex-direction: column;
    font-size: 16px;
  }
  .contactLeft {
    width: 90vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contactRight {
    width: 80vw;
  }

  #contactRightHeading {
    font-size: 16px;
  }
  .contactHeading > h1 {
    font-size: 28px;
  }
}
