@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-150px * 5));
  }
}

/* Introduction Page */
/* Styling Left Side of screen */

.leftSideHome {
  width: 30vw;
  margin: 2vh 0;
}
.ownerIntro {
  flex-direction: column;
  align-items: flex-start;
}
#SoftwareEngineer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh 0;
}
#SoftwareEngineerLine::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: black;
}
#SoftwareEngineerText {
  margin-left: 55px;
}
.ownerSkills {
  font-size: 30px;
}
#OwnerIntroductionPara {
  margin: 2vh 0;
}

#ReadMoreBtn {
  color: #c33030;
}

.contactBtns {
  margin: 8vh 2vw;
  flex-direction: column;
}
#ContactLink {
  height: 40px;
  padding: 10px;
  margin: 0 30px;
  border-radius: 5px;
  color: #c33030;
  border: solid 2px #c33030;
}
#ContactLink:hover {
  background-color: #c33030;
  color: white;
  transition: all 0.3s ease;
}
#ProjectsLink:hover img {
  position: relative;
  top: -2px;
  right: -2px;
}
#GotoArrow {
  text-align: center;
  align-items: center;
  height: 17px;
  width: auto;
  vertical-align: middle;
}

/* Styling Right side of screen */
.rightSideHome {
  width: 30vw;
}
.ownerPicBackground {
  pointer-events: none;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
}
.ownerPicBackground img {
  border-radius: 150px;
  height: 250px;
  width: 250px;
}
#RightLineSocialLinks {
  display: flex;
  margin-right: 35px;
  margin-left: 5px;
}
#RightLineSocialLinks::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 30px;
  background-color: #121121;
}
.ownerSocialLinks {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 3vh 0;
  justify-content: center;
}
.ownerSocialLinks li {
  margin: 0 4px;
}
.socialLink svg:hover {
  transition: all ease 1s;
  transform: rotateZ(360deg);
  filter: invert(29%) sepia(75%) saturate(2003%) hue-rotate(341deg)
    brightness(80%) contrast(89%);
}
/* Technologies worked on page */
#TechnologyWorkedOn {
  margin: 2vh 0;
  align-items: center;
  flex-direction: column;
}

.workedOnHeading::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 178px;
  background: #c33030;
}
#technologiesTab {
  height: 290px;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
#technologiesTab:before,
#technologiesTab:after {
  content: "";
  position: absolute;
  height: 350px;
  width: 450px;
  z-index: 2;
}

#technologiesTab:after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

#technologiesTab:before {
  left: 0;
  top: 0;
}

#technologiesTab .track {
  display: flex;
  width: calc(150px * 10);
  animation: scroll 15s 0.5s linear infinite;
}

#technologiesTab .technologyCard {
  width: 350px;
}

#technologiesTab .technologyCard svg {
  height: 90px;
}

.technologyCard {
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  margin: 0 20px;
  border-radius: 20px;
  border: solid 2px #c33030;
}
.technologyCard p {
  font-size: 17px;
  font-style: italic;
}
/* Testimonials area */

#Testimonials {
  flex-direction: column;

  margin: 2vh 0;
}

#TestimonialHeading::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  background: #c33030;
}
#testimonialContent {
  width: 70vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
#testimonialContent::-webkit-scrollbar {
  display: none;
}
.testimonialCard {
  display: inline-block;
  margin: 40px 20px;
  border: solid 2px #c33030;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 5px 5px 5px #d2d2d2;
  height: 200px;
  width: 400px;
}
#TestimonialDiscription {
  width: 400px;
}
