#ProjectsPage {
  text-align: center;
}

#ProjectHeading::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 58px;
  background: #c33030;
}
#ProjectTabs {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}
#ProjectTab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 512px;
  width: 310px;
  margin: 20px 6px;
  border-radius: 5px;
  border: solid 2px #c33030;
  box-shadow: 0px 4px 6px black;
}
#ProjectTab:hover {
  box-shadow: 0px 6px 10px black;
}

#ProjectImgBox {
  width: 280px;
  margin: auto;
}
#ProjectTab div img {
  width: 280px;
  height: auto;
  border-radius: 4px;
}

#ProjectTabDetails {
  height: 200px;
  width: 280px;
}
#ProjectTabDetails h2 {
  text-align: center;
}
#ProjectTabDetails p {
  overflow: hidden;
  height: 137px;
  font-size: 14px;
}
#ProjectTabReadMoreBtn {
  color: #c33030;
}
#ProjectTabDetails div a {
  background: #c33030;
  border-radius: 5px;
  padding: 6px 10px;
  color: white;
}
#ProjectTabDetails div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 768px) {
  #ProjectTabs {
    justify-content: center;
    align-items: center;
  }
  #ProjectTab {
    width: 90vw;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }
  #ProjectImgBox {
    display: flex;
    justify-content: center;
    width: 150px;
  }
  #ProjectTab div img {
    width: 150px;
    border-radius: 5px;
  }
  #ProjectTabDetails {
    width: 45vw;
  }
  #ProjectTabDetails p {
    height: 115px;
  }
  #ProjectTabReadMoreBtn {
    margin-left: 0px;
  }
  #ProjectTabDetails div a {
    margin-right: 0px;
  }
}
#ProjectActions {
  height: 10px;
}
