.App {
  margin: 6vh 8vw;
  padding: 0vh 4vw;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 5px black;
}
.centerIt {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spaceBetween {
  display: flex;
  justify-content: space-between;
}
